[2015-03-06 06:12] jessesquires opened #1 "Write documentation (use Jazzy?)"
1. Write "header" docs
2. Update README with getting started, design details, etc.

Use Jazzy: https://github.com/realm/jazzy

[2015-03-07 21:59] jessesquires opened #2 "Finish unit tests for *FetchedResultsDataSource objects"
- [ ] FetchedResults DataSources
- [ ] FetchedResults Delegates

[2015-03-07 22:03] jessesquires opened #3 "Implement CollectionView "titled header view""
Create a simple collection view header with a label that's easily configurable — intended to be used similarly to tableView "title for section". Specifically for use with fetched results controller, but could be used elsewhere.

[2015-03-08 01:01] jessesquires commented on #3
Done!

Also added `TitledCollectionReusableViewFactory`

[2015-03-08 01:01] #3 closed, assigned to jessesquires

[2015-03-08 21:00] jessesquires commented on #1
awww yeeeaaahh.

http://www.jessesquires.com/JSQDataSourcesKit/

[2015-03-09 02:36] jessesquires commented on #2
**NOTES:**

Not sure how easy or possible it will be to write tests for the FetchedResults data sources and delegates.
- Need to stand up an in memory core data stack.
- Might need to subclass FetchedResultsController and use XCTestExpectations?

[2015-03-16 00:16] #1 closed, assigned to jessesquires

[2015-03-16 17:42] jessesquires opened #4 "Update .travis.yml when travis-ci supports Xcode 6.3"
Also update `README` with travis-ci badge.

[![Build Status](https://secure.travis-ci.org/jessesquires/JSQDataSourcesKit.svg)](http://travis-ci.org/jessesquires/JSQDataSourcesKit)

[2015-03-17 06:57] barksten opened #5 "Deployment target is set to 8.1"
Deployment target is set to 8.1 but the documentation only states that is requires iOS 8.

[2015-03-17 07:13] barksten commented on #5
I've made a [PR](https://github.com/jessesquires/JSQDataSourcesKit/pull/6) for this issue

[2015-03-17 17:47] #5 closed, assigned to jessesquires

[2015-03-26 19:00] jessesquires opened #7 "Possible fix for xctool"
https://github.com/facebook/xctool/issues/499#issuecomment-86627674

[2015-03-26 20:59] #7 closed, assigned to jessesquires

[2015-04-09 19:08] jessesquires opened #8 "Update docs with latest jazzy"
https://github.com/realm/jazzy/releases

[2015-04-19 05:54] jessesquires commented on #8
Waiting for jazzy to support Swift 1.2 and Xcode 6.3

[2015-04-23 19:45] #8 closed, assigned to jessesquires

[2015-04-27 16:51] jessesquires commented on #4
From travis-ci:
http://blog.travis-ci.com/2015-04-20-state-of-the-mac-infrastructure-on-travis-ci/

[2015-05-30 19:01] #4 closed, assigned to jessesquires

[2015-06-18 03:49] jessesquires opened #9 "Migrate to Swift 2.0"

[2015-06-24 04:51] jessesquires commented on #9
done 8d015eadf7cbecc0b46930f4a78b2486b27a6644

[2015-06-24 04:51] #9 closed, assigned to jessesquires

[2015-06-26 15:39] alexzzp opened #10 "is there anyway to support multiple re-useable cell?"

[2015-06-26 16:00] alexzzp commented on #10
I have tried to modify the code to support multiple cell:

"""
    public func cellForItem(item: DataItem, inTableView tableView: UITableView, atIndexPath indexPath: NSIndexPath) -> Cell? {
        if self.reuseIdentifier == "" {
            return nil
        } else {
            return tableView.dequeueReusableCellWithIdentifier(reuseIdentifier, forIndexPath: indexPath) as? Cell
        }
    }

[2015-06-26 16:27] jessesquires commented on #10
hey @alexzzp, the way to do this would be to make a "ComposedFactory" — a factory that contains other specific factories.

There's a small example in the demo:
https://github.com/jessesquires/JSQDataSourcesKit/blob/develop/Example/Example/ComposedSupplementaryViewFactory.swift

If you're having trouble with types, consider using a protocol or a common superclass.

[2015-06-26 16:27] #10 closed, assigned to nobody

[2015-06-28 07:07] alexzzp commented on #10
thanks, I will have a try

[2015-06-28 10:43] alexzzp opened #11 "Is there anything missing in "CollectionViewFetchedResultsDelegateProvider""

[2015-06-28 10:52] alexzzp opened #12 "Crash: when a section contains only a single cell, and you change the property that will move the cell to another section."
I have been using  JSQDataSourcesKit for a collectionview that is backed by CoreData, I create a fetchResultController with following sort of setting:

[code]

Everything is fine when the collectionview is display. In my app, user can tap a photo and segue to another view controller, in that controller, user may change the model's  "createTime" property (the sectionNameKeyPath property "sectionDat

[2015-06-28 10:54] alexzzp commented on #12
I have no idea about the code before *\* [collectionView performBatchUpdates:^{}] *\* ,  any idea?

[2015-06-28 11:00] #11 closed, assigned to nobody

[2015-06-28 16:30] jessesquires commented on #12
Hey @alexzzp

Basically, what this code is doing is processing and batching up all the changes. We do this [here (L76-L103)](https://github.com/jessesquires/JSQDataSourcesKit/blob/develop/JSQDataSourcesKit/JSQDataSourcesKit/FetchedResultsDelegate.swift#L76-L103). Then we apply the changes via `applyObjectChanges()` and `applySectionChanges()` [here](https://github.com/jessesquires/JSQDataSourcesKi

[2015-07-01 15:57] alexzzp commented on #12
hi, it is easy to repeart the error in the example project of "JSQDataSourcesKit" just add followings code to "FetchedCollectionViewController.swift"

[code]

With above code added, you will change the "category" and "num" property in the "FetchedCollectionViewController",  then the cell may be moved to a new position (in the same section or not), everything will be find for a while when you try t

[2015-07-01 16:08] alexzzp commented on #12
The problem seems occurs when a section contains only a single cell, and you change the property that will move the cell to another section.

[2015-07-01 16:27] alexzzp commented on #12
the problem only occurs in the collectionview, similar code will not cause any error in FetchedTableViewController

[2015-07-01 16:29] svenbacia commented on #12
Hi, I had the same issue. The crash occurred in my case when I wanted to update a cell and move another one at the same time.

I was able to reproduce it with a simple UICollectionView without CoreData and JSQDataSourcesKit. I already reported a bug a few weeks ago and it seems like the bug was fixed (my radar got closed). So with the next update it should work again.

A workaround for this issue

[2015-07-01 16:40] alexzzp commented on #12
A workaround for this issue is by replacing line 131-133 in FetchedResultsDelegate.swift with collectionView?.reloadData() ?

replace

[code]

to a simple line:

[code]

it doen't work

[2015-07-01 18:11] svenbacia commented on #12
Oh sorry, I meant `collectionView?.reloadItemsAtIndexPaths(indexes)` instead of `collectionView?.reloadData()`.

[2015-07-02 03:29] jessesquires commented on #12
awesome. thanks so much @alexzzp and @svenbacia !

i'll get this fixed soon.

[2015-07-24 05:03] jessesquires opened #13 "Update travis-ci"
http://blog.travis-ci.com/2015-07-08-xcode-6-4-now-available/

[2015-07-25 19:25] #13 closed, assigned to jessesquires

[2015-08-21 04:17] jessesquires opened #15 "Remove "dataItem:" parameter name from Section"
Currently, table view section looks like this:

[code]

Would be better like this:

[code]

This is cleaner and feels better/more intuitive.

Or maybe even use a variadic param?

[2015-08-21 04:19] jessesquires commented on #15
Same for collection view sections

[2015-08-23 00:23] jessesquires opened #16 "Implement NSIndexPath subscript for data source providers"
Current:

[code]

After proposed change:

[code]

**Keep existing `Int` subscript, this is only a convenience addition to the existing interface.**

[2015-09-01 10:20] LeeMatthewHiggins opened #17 "Crash: unowned self in fetched results delegate completion"
I get a crash:

[code]

In FetchedResultsDelegate.swift
line 98

I made the code safe here by making the completion's 'self' weak. This fixes the problem......

[code]

After investigation is seems that view controllers are dealloc'd BEFORE their related views, it seems the collection view is then calling its delegate after the controller has gone away (along with the datasource provider).

[2015-09-02 04:35] jessesquires commented on #17
Thanks @LeeMatthewHiggins ! :smile:

I suspect you should set your collectionView `delegate` and `dataSource` to `nil` your view controller's `deinit`. Can you confirm if that fixes this instead?

Related discussion here: https://github.com/jessesquires/JSQMessagesViewController/issues/201

[2015-09-02 08:58] LeeMatthewHiggins commented on #17
This was the first thing I tired, it did not fix the issue. :(

I think the BridgedFetchedResultsDelegate  is living a bit longer that it should or maybe theres a dispatch thats running on the next runloop after things have been released.

[2015-09-02 16:00] jessesquires commented on #17
Ok cool. What are the exact steps to reproduce the issue?

[2015-09-02 17:27] LeeMatthewHiggins commented on #17
So basically I have Async background updates to coredata that can then merge at any point. So the main UI context can get updates whenever (all thread safe, used in many apps)
I have a menu with items (on a FRC), you tap on an item and it pushes a new controller with the item (and kicks off an async refresh of the model layer), the items each have subitems on a fetched results controller (FRC).
Al

[2015-09-03 03:51] jessesquires commented on #17
Thanks @LeeMatthewHiggins !

[2015-09-13 22:01] #15 closed, assigned to jessesquires

[2015-09-13 22:01] #16 closed, assigned to jessesquires

[2015-09-14 10:21] LeeMatthewHiggins opened #18 "Compile errors on swift 2.0 Xcode 7"
JSQDataSourcesKit/JSQDataSourcesKit/JSQDataSourcesKit/FetchedResultsDelegate.swift:246:21: Type 'BridgedFetchedResultsDelegate' does not conform to protocol 'NSObjectProtocol'

JSQDataSourcesKit/JSQDataSourcesKit/JSQDataSourcesKit/FetchedResultsDelegate.swift:278:16: Objective-C method 'controller:didChangeObject:atIndexPath:forChangeType:newIndexPath:' provided by method 'controller(_:didChangeOb

[2015-09-14 17:51] LeeMatthewHiggins opened #19 "Very nasty apple bug in FRC delegate callback on IOS9!"
In the CollectionViewFetchedResultsDelegateProvider I had some very nasty crash problems with updates from FRC on IOS9 SDK running on 8.4 SDK device. I have tracked down to an apple bug, an invalid change type sent on delegate callbacks, I hacked a fix here....

line 74 in  fetchedResultsDelegate.swift

[code]

[2015-09-14 20:40] jessesquires commented on #18
Thanks @LeeMatthewHiggins !

This is fixed on `develop` and will be available with the 2.0 release — coming soon!

[2015-09-14 20:40] #18 closed, assigned to jessesquires

[2015-09-14 20:41] jessesquires commented on #19
Thanks @LeeMatthewHiggins ! :+1:  Will get this fixed for 2.0

[2015-09-25 00:07] mcaloud opened #20 "Crash in Example"
Tapping on FETCHED RESULTS DATA SOURCES -> Collection view -> + throws an assert

[code]

[2015-09-25 03:57] #20 closed, assigned to jessesquires

[2015-09-25 03:57] jessesquires commented on #20
Thanks @mcaloud ! :muscle: :sunglasses: :+1:

[2015-10-11 02:47] jessesquires opened #21 "Update travis ci"
Use matrix like this:
https://github.com/jessesquires/JSQCoreDataKit/blob/develop/.travis.yml

[2015-10-14 05:17] jessesquires commented on #21
also add codecov.io

[2015-10-17 21:47] jessesquires opened #22 "Implement CustomStringConvertible for all types"

[2015-10-18 07:54] jessesquires commented on #21
done

[2015-10-18 07:54] #21 closed, assigned to jessesquires

[2015-10-18 22:29] jessesquires opened #23 "CollectionViewFetchedResultsDelegateProvider: Changing an object's properties (but not it's indexPath) does not update collection view"
Example:
1. An object is updated (say, it's name, and the object's name is displayed in the cell)
2. But, the change does not change the indexPath of the object
3. Then the cell for the object is not refreshed with the new data

[2015-10-18 22:37] #12 closed, assigned to jessesquires

[2015-10-18 22:37] #23 closed, assigned to jessesquires

[2015-10-18 22:48] jessesquires opened #24 "Reload supplementary views without calling reloadData() ?"

[2015-10-18 23:28] jessesquires commented on #24
nope.

have to call `reloadData()` for this.

calling `reloadSections()` causes collection view to flash

[2015-10-18 23:28] #24 closed, assigned to jessesquires

[2015-10-18 23:31] jessesquires commented on #19
Hey @LeeMatthewHiggins -- been testing most of the day. Getting ready to ship `v2.0`. I still haven't ben able to reproduce this.

Can you provide anymore info or a demo project?

[2015-10-18 23:45] #17 closed, assigned to jessesquires

[2015-10-19 04:56] #22 closed, assigned to jessesquires

[2015-10-22 03:13] jessesquires opened #26 "Remove Item generic param from FetchedResults DataSource/Delegate Providers"
Same as #25. Remove unneeded `Item` generic parameter.
- [x] Remove extra `<Item>` param from `FetchedResultsDataSource`s
- [x] Remove extra `<Item>` param from `FetchedResultsDelegate`s

Also:
- [x] Add `assert` to check `NSFetchedResultsController` fetch type matches `CellFactory.Item`
- [x] Make `*FetchedResultsDelegateProvider` classes `controller:` param **not** optional

[2015-10-23 04:45] jessesquires opened #27 "UI Tests for Example project"
Use Xcode's UI testing.
- https://www.bignerdranch.com/blog/ui-testing-in-xcode-7-part-1-ui-testing-gotchas/
- https://developer.apple.com/library/ios/documentation/ToolsLanguages/Conceptual/Xcode_Overview/RecordingUITests.html
- https://developer.apple.com/videos/play/wwdc2015/406/

[2015-10-24 19:53] jessesquires opened #28 "Support additional UICollectionViewDataSource methods"
The following methods from [`UICollectionViewDataSource`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UICollectionViewDataSource_protocol/index.html#//apple_ref/occ/intf/UICollectionViewDataSource) are currently **not** supported.

#### Reordering (iOS 9+)

- [ ] `- collectionView:canMoveItemAtIndexPath:`
- [ ] `- collectionView:moveItemAtIndexPath:toIndexPath:`

##### Im

[2015-10-24 20:22] jessesquires opened #29 "Support additional UITableViewDataSource methods"
The following methods from [`UITableViewDataSource`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UITableViewDataSource_Protocol/index.html#//apple_ref/occ/intf/UITableViewDataSource) are currently **not** supported.

#### Section index titles
- [ ] `- sectionIndexTitlesForTableView:`
- [ ] `- tableView:sectionForSectionIndexTitle:atIndex:`

#### Editing
- [x] `- tableView

[2015-10-24 20:30] jessesquires opened #30 "Controller param name consistency"
The `*FetchedResultsDelegateProvider` classes have a `controller:` param but the `*FetchedResultsDataSourceProvider` classes have a`fetchedResultsController:` param.

Both should be `fetchedResultsController:` for consistency.

[2015-10-24 20:45] #26 closed, assigned to jessesquires

[2015-10-24 20:45] #30 closed, assigned to jessesquires

[2015-10-24 20:50] jessesquires commented on #19
@LeeMatthewHiggins -- a lot changed and improved in this area for `v2.0`. Are you still seeing this bug?

I've tested on 8.4 simulator, but still haven't see it. Unfortunately, I don't have an 8.4 device right now...

Going to close this for now. Let me know if I should re-open! :smile:

[2015-10-24 20:50] #19 closed, assigned to jessesquires

[2015-11-07 04:27] jessesquires opened #31 "Re-design: use closures instead of config objects?"
Not sure if I'd like to do this or not.

See discussions here:
https://gist.github.com/jessesquires/4b6e76bb580600a85c40
https://gist.github.com/rnapier/44bf23300959cca9c43f

[2015-11-10 18:18] jessesquires opened #32 "Don't call reload in performBatchUpdates"
Remove this:
https://github.com/jessesquires/JSQDataSourcesKit/blob/develop/JSQDataSourcesKit/JSQDataSourcesKit/FetchedResultsDelegate.swift#L175

It's actually dead code anyway. You'll never get a `.Update` from fetched results controller.

Further:
http://www.raizlabs.com/2013/10/animating_items_uicollectionview/

[2015-11-11 05:11] #32 closed, assigned to jessesquires

[2015-11-13 22:21] yoiang opened #33 "Cannot convert value of type '[MyType]' to expected argument type '[_]'"
Hey @jessesquires, the library looks great, I'm excited to try it out!

When I compose the below I get the compiler error `Cannot convert value of type '[MyType]' to expected argument type '[_]'`:

[code]

If I switch to the below and let Swift assume the generic's type it goes away:

[code]

But then when I try to compose the Data Source Provider I get the error again, this time on the `sections`

[2015-11-14 02:58] jessesquires commented on #33
Hey @yoiang! :smile:

In your `cellConfigurator`, specify the model type:

[code]

That should give Swift all the information it needs. Let me know if this doesn't fix it!

---

Also, I think you can remove the type params from the data source init and simply use `TableViewDataSourceProvider(sections: ...)`

[2015-11-14 02:58] #33 closed, assigned to nobody

[2015-11-17 01:05] bonebox opened #34 "Crash from String(reflecting: Item.self) assert when model class is in app module"
This method in the assert calls is causing my app to crash, because it's returning a namespaced string for my manage object (ie. "ModuleName.ClassName") from which NSClassFromString isn't able to create a class, thus returning nil.  This causes `fatal error: unexpectedly found nil while unwrapping an Optional value` in line 30 of Internal.swift.  Substituting String(Item.self) instead only returns

[2015-11-17 03:37] yimingtang opened #35 "Different cell styles for each section"
Hi, Jesse.

I'm developing a similar library in Objective-C. In my project, I came across a problem. **What if I want to apply different cell styles to each section?** JSQDataSourcesKit is based on the assumption that the cell style is always the same throughout the UITableView or UICollectionView, because the data source provider has only **one** `cellFactory` object.

Let's take a look at App St

[2015-11-17 03:59] jessesquires commented on #34
Thanks @bonebox !

Can you provide more information about what you're trying to do?

[2015-11-17 04:07] jessesquires commented on #35
Hey @yimingtang ! :smile:

This is possible in the library. You can achieve this by composing factories.
1. Create CellAFactory
2. Create CellBFactory
3. Create ComposedCellFactory (type of cell will be `UITableViewCell` or `UICollectionViewCell`)

The ComposedCellFactory will also conform to the factory protocol, and internally forward control to either CellAFactory or CellBFactory.

The demo has

[2015-11-17 04:12] jessesquires commented on #35
Interesting idea. But would each section have different models? If so, this will be cumbersome to express in Swift. Admittedly, the "ComposedCellFactory" pattern could also get out of hand depending on your design, but that may be indicative of deeper design problems.

One strategy for unifying models (generally, but specifically for the composition pattern), would be to use protocols. Or, you cou

[2015-11-17 04:14] jessesquires commented on #35
Oh -- one more thing.

This is probably a last resort, but you could always use `<Any, MyCell>` as parameters and cast everything as needed. Probably not a good design though -- I wouldn't recommend this.

[2015-11-17 06:24] yimingtang commented on #35
Thank you for your suggestions, @jessesquires !

[2015-11-17 06:25] #35 closed, assigned to nobody

[2015-11-17 14:16] bonebox commented on #34
Basically I copied most of `FetchedCollectionViewController.swift` in your Example project but substituted my own classes where necessary (for the cell and managed object).  I get the error when creating the instances for `CollectionViewFetchedResultsDelegateProvider` and `CollectionViewFetchedResultsDataSourceProvider` where the `assert` is called, because of what I outlined previously.  As menti

[2015-11-17 14:34] bonebox opened #36 "Problem with adding TitledCollectionReusableViewFactory to CollectionViewFetchedResultsDataSourceProvider"
I'm following your example in `FetchedCollectionViewController.swift` except that I only want to have a section header (no footer).  So I'm creating a `TitledCollectionReusableViewFactory` instance and trying to add that as the `supplementaryViewFactory` to the `CollectionViewFetchedResultsDataSourceProvider` initializer (instead of using `ComposedSupplementaryViewFactory` like in your example--th

[2015-11-17 19:32] bonebox commented on #36
Never mind, I realized I needed to create a custom factory class similar to `ComposedSupplementaryViewFactory` and add the `TitledCollectionReusableViewFactory` instance to it, then use that in the `CollectionViewFetchedResultsDataSourceProvider` initializer.

[2015-11-17 19:32] #36 closed, assigned to nobody

[2015-11-18 02:17] jessesquires commented on #36
Thanks @bonebox ! :smile:

Let me know if anything else comes up!

[2015-11-18 02:21] jessesquires commented on #34
Hm... So what's your class for `CellFactory.Item` and what class of objects does your `NSFetchedResultsController` fetch?
- Are they the same?
- Are they `NSManagedObject` subclasses?
- Are they in the same module?
- Are they in a framework module, or your main app module?

Can you provide an example project that shows the issue?

[2015-11-18 14:14] bonebox commented on #34
Both the CellFactory.Item and the NSFetchedResultsController are using the same class, which is a standard NSManagedObject subclass.  The class is in the main app module.  The name of the class is `Session`, and the app is called `Breather`.

The compare between the fetchedClass and expectedClass isn't even being reached anyway, as the crash is occurring with this line: `let expectedClass: AnyClas

[2015-11-18 17:17] jessesquires commented on #34
Thanks @bonebox !

I think the issue is that your class is in your main app module.

If you look at the demo app, it does not have this problem. This is probably because it has a separate framework for the model, and thus a fully-qualified name. This is why I missed the bug during development.

---

#### Proposed solution

Check `String(reflecting:` first, then fallback to `String()` if the former

[2015-11-18 17:18] jessesquires commented on #34
Also, this might be a Swift bug.

[2015-11-18 17:36] bonebox commented on #34
Thanks for looking at this!  I do see how it would work if the Core Data model were in a separate framework.  I do this for reusable frameworks, but for this particular app didn't feel it was necessary as the app is pretty specific.  Also, in my experience, quite a few developers have their model in the main app bundle, so I imagine this will affect more people down the road.

I think your propose

[2015-11-18 17:39] bonebox commented on #34
Very well could be a Swift bug, seems like I find a new one every day... :persevere:

[2015-11-19 02:20] jessesquires commented on #34
Ah, right. Thanks @bonebox ! :+1:

[2015-11-22 00:02] f1nality opened #37 "tvOS"
Hello,
Can this library be used for tvOS?

Thanks

[2015-11-22 11:37] f1nality opened #38 "Allow supplementary views for empty sections in collection view"
Hello,

My app crashes when fetch request is empty and I have supplementary views (without supplementary views everything ok). I get:
index 0 beyond bounds for empty NSArray

Seems like the problem is in CollectionViewDataSourceProvider:

[code]

Stacktrace:

[code]

[2015-11-23 03:45] jessesquires opened #39 "Support tvOS"

[2015-11-23 03:47] jessesquires commented on #37
Hey @f1nality ! :smile:

Yep! You shouldn't have any problems. There isn't an explicit tvOS target in the framework yet (and the podspec doesn't specify tvOS support), but it should work.

I'll add this explicitly this week. See #39

[2015-11-23 03:47] #37 closed, assigned to nobody

[2015-11-23 03:51] jessesquires commented on #38
Thanks @f1nality :smile:

Can you share more about your setup? What kind of `UICollectionViewLayout` are you using?

If using FlowLayout, you are probably crashing if you are setting a size for your header/footer view.

[2015-11-23 08:31] f1nality commented on #37
Hello, @jessesquires!

That's great, thank you.

[2015-11-23 08:34] f1nality commented on #38
Yes, i'm using `UICollectionViewLayout`.
I want to have footer even there is no item, isn't that normal? And I don't quiet understand where sizes of headers/footer can be set with JSQDataSourcesKit (now they are set in storyboard).

Here is my code:

[code]

[2015-11-23 16:36] jessesquires commented on #38
Are you using Apple's FlowLayout or a custom layout?

[2015-11-23 16:39] f1nality commented on #38
UICollectionViewFlowLayout on tvOS

[2015-11-23 16:50] jessesquires commented on #38
Ok -- so for FlowLayout, there are properties to set the header/footer size, or you can implement the delegate methods from UICollectionViewDelegateFlowLayout.

FlowLayout uses the size to determine if it should dequeue a supplementary view or not. Thus, returning CGSizeZero will _not_ try to dequeue a view.

Generally, supplementary views are like cells in the sense that they are "data driven". A

[2015-11-23 17:35] f1nality commented on #38
I'll explain for what I use footer:
I have one collection view which shows only first 20 items and I need to have "show all" button at the end of this collection view (I placed it in footer).

So, I have to show footer if elements exist and hide it if they don't. I know about delegates method and how to use if without JSQDataSourcesKit, but how I can i specify this method with JSQDataSourcesKit?

[2015-11-24 12:27] f1nality commented on #38
@jessesquires so the question how can I implement `UICollectionViewDelegateFlowLayout` with `JSQDataSourcesKit`?

collectionView delegate is wrapped somewhere inside library so I don't quite understand how this can be implemented

[2015-11-24 13:28] f1nality opened #40 "NSFetchRequest with fetchLimit causes crash"
Hello,
Using NSFetchRequest with fetchLimit cases crash if objects are added to managed context. This happens because  `(self.fetchedResultsController.sections?[section])?.numberOfObjects ?? 0` (CollectionViewDataSourceProvider.swift line 236) returns more objects than `fetchLimit` is (discussed http://stackoverflow.com/questions/9022580/nsfetchedresultscontroller-ignores-fetchlimit-after-performf

[2015-11-24 17:59] f1nality commented on #40
But it's not enough. `CollectionViewFetchedResultsDelegateProvider`'s `BridgedFetchedResultsDelegate` also receives updates with `indexPath.row` > `fetchLimit`

[2015-11-25 03:29] jessesquires commented on #40
Thanks @f1nality !

I'm not sure about this. I've never seen such an issue...

[2015-11-25 04:53] jessesquires commented on #40
Can you reproduce this in the demo?

[2015-11-25 04:58] jessesquires commented on #38
Aaahhh, I see now.

Actually, I think this is a valid use case.

**Proposed change:** The supplementary view factory methods should return an optional model. This way, you can display a supplementary view for an empty section.

Only the `dataSource` is implemented by the library. You're free to set `collectionView.delegate` yourself :smile:

[2015-11-25 05:54] f1nality commented on #38
wow, my mistake. thank you!

[2015-11-25 05:57] f1nality commented on #40
Yes, i'll post it later

[2015-11-30 02:39] #34 closed, assigned to nobody

[2015-11-30 02:41] jessesquires commented on #34
Hey @bonebox - fix is now in `develop`. You can pull from there directly until the official `3.0.1` release.

Let me know if you have any other issues! :smile:

[2015-11-30 02:45] jessesquires commented on #38
This will be a breaking change and require a major version bump (to 4.0)

[2015-11-30 02:55] jessesquires commented on #40
Hey @f1nality — I was able to reproduce in the example app, but only with the `tableview` example, not the `collectionView`.

Steps:
1. Set a `fetchLimit` of 10 [here](https://github.com/jessesquires/JSQDataSourcesKit/blob/develop/Example/Example/Thing.swift#L108)
2. Run example app, hit `+` button a few times (adds 5 items each time)
3. Push table view fetched results example
4. Delete items in t

[2015-11-30 03:02] jessesquires commented on #40
So, it looks like the core of the problem is:
1. Setting a `fetchLimit`
2. And then mutating your dataset (deleting/inserting items)

[2015-11-30 15:23] bonebox commented on #34
Looks good, thanks!

[2015-12-01 03:21] yoiang commented on #33
Hey @jessesquires!
Thanks for the quick response, sorry for my late response!

That didn't do it buuuuut...switching

[code]

to

[code]

did it. If it wasn't clear (and it probably wasn't, I didn't mention above), viewModel.items is an array of my item type instances. I was confusing Swift and it wasn't knowledgable enough to say so. My original declaration was putting forward for the TableViewSe

[2015-12-01 04:02] jessesquires commented on #33
@yoiang -- Ah, I see :smile: Thanks for the update! :+1:

If you run into any other problems, please open another issue!

[2015-12-01 13:52] f1nality commented on #40
@jessesquires
Yeap, if need exactly collectionview example - let me know.

[2015-12-02 02:27] jessesquires commented on #40
@f1nality -- please! :grin:

What if you mutate data, then performFetch and reloadData?

[2015-12-19 16:20] hokster7 opened #41 "Declared closure result 'UICollectionViewCell' is incompatible with contextual type '_'"
This error doesn't make much sense to me:

![screen shot 2015-12-19 at 16 19 36](https://cloud.githubusercontent.com/assets/430233/11913947/534ea9ce-a66c-11e5-92f0-24c64c04a850.png)

[2015-12-19 16:54] hokster7 opened #42 "Cannot convert value of type `[ CollectionViewSection<Int> ]` to expected argument type `[_]`"
![screen shot 2015-12-19 at 18 07 37](https://cloud.githubusercontent.com/assets/430233/11914524/6e04d306-a67b-11e5-8cf3-18725871b0f1.png)

I _really_ can't make sense of this error. It worked with `String`, but when I switched to using `Int` as a type this sort of compile error appears.

[2015-12-19 23:05] jessesquires commented on #41
Hey @fatuhoku :smile:  It looks like swift can't infer the type of cell, or you are returning the wrong cell type.

You should probably be returning your custom cell subclass here, not `UICollectionViewCell`

[2015-12-19 23:05] #41 closed, assigned to nobody

[2015-12-19 23:07] hokster7 commented on #41
What's a contextual type? :/

[2015-12-19 23:08] jessesquires commented on #42
Hey @fatuhoku

Here:

[code]

You're still using `String` :smile:

[2015-12-19 23:08] #42 closed, assigned to nobody

[2015-12-19 23:12] jessesquires commented on #42
Also, in the future, it's easier to help if you paste the code in your issue instead of a screenshot. :smile:

You can create highlighted code blocks like this:
https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code

[2015-12-19 23:15] jessesquires commented on #41
Ha, sometimes Swift error messages are not that great.

I think what this is trying to say is that Swift cannot infer the correct type, or there are mismatched types, given the current context.

[2015-12-21 09:41] hokster7 commented on #42
@jessesquires Thanks, I'm aware of that already — I chose to use screenshots because you have the benefit of seeing where exactly the error is appearing on Xcode (at the expense of searchability), something you can't do easily with syntax highlighted code.

Damn, I should have figured that one out! I'm really amazed at how uninformative Swift errors are...

[2016-01-06 01:49] jessesquires opened #43 "Support Swift Package manager"
- clean up project directories, change to `Source/` and `Tests/`
- https://github.com/apple/swift-package-manager

[2016-01-06 01:51] jessesquires opened #44 "Add CHANGELOG.md"
Copy milestone release notes.

[2016-01-15 23:08] bonebox commented on #29
Any update on this @jessesquires? I need to be able to edit rows.

[2016-01-16 00:47] jessesquires commented on #29
Hey @bonebox :smile: this is definitely "future work" for me right now.

However, I've tried to provide enough guidance in the issue description so that someone could get started and submit a PR. Would you be interested? (Just for the editing -- not all 3) If so, I'll be able to answer questions, review the PR, etc. :+1:

[2016-01-16 00:48] jessesquires commented on #29
There's good test coverage and a good demo app for this project, so it should be easy to get started

[2016-02-18 01:01] jessesquires commented on #40
Maybe related?
http://stackoverflow.com/questions/11365589/batch-size-does-not-work-when-using-parent-child-contexts

[2016-02-19 06:16] jessesquires opened #45 "Setup new github templates"
https://github.com/blog/2111-issue-and-pull-request-templates

[2016-03-07 15:34] #45 closed, assigned to jessesquires

[2016-03-22 04:50] jessesquires opened #46 "Update for Swift 2.2"

[2016-04-07 07:44] david-hoze opened #47 "Using in tandem with JSQMessagesViewController"
Hi :smile:,

I want to use `CollectionViewFetchedResultsDelegateProvider` with JSQMessagesViewController, but I can't implement the `cellConfigurator` for `CollectionViewCellFactory(reuseIdentifier:cellConfigurator:)`, since `JSQMessagesViewController` implements `collectionView(collectionView:cellForItemAtIndexPath:)` without using some `configureCell` method which I can call..

I implemented a [

[2016-04-07 16:34] jessesquires commented on #47
Hey, thanks @amitai-hoze ! :smile:

Right, this is currently not possible in `JSQMessagesViewController`. However, the 8.0 release of the library will address these shortcomings.

https://github.com/jessesquires/JSQMessagesViewController/issues/1216

[2016-04-07 16:34] #47 closed, assigned to nobody

[2016-04-08 15:18] #44 closed, assigned to jessesquires

[2016-04-08 16:03] #46 closed, assigned to jessesquires

[2016-04-08 16:35] jessesquires opened #48 "Update for latest Swift API naming guidelines + major API changes and refinements"
Make naming more Swifty.

### Unify cell / view factories
- [x] Create generic `ViewFactory` and `ReusableViewFactoryProtocol` to unify the table cell, collection cell, and collection supplementary view factories
- [x] **Remove** `TableViewCellFactoryType` protocol and `TableViewCellFactory` struct
- [x] **Remove** `CollectionViewCellFactoryType` protocol and `CollectionViewCellFactory` struct
- [

[2016-04-09 00:14] #43 closed, assigned to jessesquires

[2016-04-09 02:37] jessesquires commented on #39
can't support `watchOS`. not all of UIKit is available.

[2016-04-09 02:37] #39 closed, assigned to jessesquires

[2016-04-09 04:56] #38 closed, assigned to jessesquires

[2016-04-09 04:57] jessesquires opened #49 "Writes tests for #38, allow supplementary views for empty sections in collection view"
See #38

[2016-04-09 04:58] jessesquires commented on #38
Fixed :tada:

[2016-06-01 11:46] broadwaylamb commented on #27
Do you need any help with this issue? What aspects should be tested?

I'd be glad to contribute.

[2016-06-01 15:04] jessesquires commented on #27
Thanks @broadwaylamb !

I just pushed some changes to the example to organize it better. There's an empty UITesting bundle there now too, so all you need to do is record some tests and push.

Things to test:
- For initial view and static table/collection views, we can just test the basics of the view, that the expected cells appear.
- For the fetched results table/collection view, we can test that

[2016-06-05 18:44] #27 closed, assigned to jessesquires

[2016-06-05 18:46] jessesquires commented on #29
**UPDATE:** No work should happen on this until 4.0 is out, which contains many breaking changes.

[2016-06-05 18:47] jessesquires commented on #28
**UPDATE:** No work should happen on this until 4.0 is out, which contains many breaking changes.

[2016-06-05 18:49] jessesquires commented on #31
This is an open question and low priority until 4.0 is finished

[2016-06-13 01:09] jessesquires commented on #48
Original issue updated

[2016-06-23 17:01] #48 closed, assigned to jessesquires

[2016-06-23 17:02] jessesquires opened #52 "Write docs for new APIs from #48"
See #48. Write docs.

[2016-06-23 17:03] jessesquires opened #53 "Update to Swift 2.3"
Branch:
https://github.com/jessesquires/JSQDataSourcesKit/tree/swift2.3

[2016-06-23 17:05] jessesquires opened #54 "Update to Swift 3.0"
Branch:
https://github.com/jessesquires/JSQDataSourcesKit/tree/swift3.0

[2016-06-23 17:06] jessesquires opened #55 "Unit tests for new APIs from #48"
See #48. Write unit tests.

[2016-06-23 17:08] jessesquires commented on #2
Not relevant since #48, will address these tests in #55

[2016-06-23 17:08] #2 closed, assigned to jessesquires

[2016-06-25 18:46] jessesquires commented on #52
done

[2016-06-25 18:46] #52 closed, assigned to jessesquires

[2016-06-26 17:59] jessesquires commented on #55
done

[2016-06-26 17:59] #55 closed, assigned to jessesquires

[2016-06-27 01:07] #49 closed, assigned to jessesquires

[2016-06-27 15:56] jessesquires opened #56 "Refactor TitledCollectionReusableView / Factory"
- Remove `styleConfigurator`

Rename:
- `TitledCollectionReusableView` --> `TitledSupplementaryView`
- `TitledCollectionReusableViewFactory` --> `TitledSupplementaryViewFactory`

[2016-06-27 16:45] #56 closed, assigned to jessesquires

[2016-07-18 15:45] dcaunt opened #57 "Mixing cell and header types within a UICollectionView"
I have a collection view with two sections, where each section uses a different `UICollectionReusableView` subclass for the header supplementary view. In the second section, I have two different `UICollectionViewCell` subclasses for different cell types.

In trying to use `DataSourceProvider` I have failed in a couple of places. I looked at the approach taken in the Example's `ComposedCollectionSu

[2016-07-19 04:16] jessesquires commented on #57
Hey @dcaunt ! 😄

_Kind of_. Once you start introducing homogenous types, this library can become difficult to use. However, you can achieve this. A few possible strategies:
1. The easiest/simplest (cleanest?) way to do this would be to make your generic parameters `<Any, UICollectionViewCell>`, then simply cast inside of your `ViewFactory`, based on the index path. I just pushed a quick example th

[2016-07-19 13:02] dcaunt commented on #57
@jessesquires thanks so much for the detailed response, I had a few ideas but this gives me more to go on.

I'll have a play around with this in a sample project and publish it if I make any meaningful progress. At this point type erasure feels like it's going to get me furthest, but we'll see.

[2016-07-19 15:06] jessesquires commented on #57
Oh, I just had another idea — you could use an enum for your models. This would make it really easy to have homogenous data over each section. _And_ you wouldn't have to cast the models, just the cells.

[code]

[2016-07-20 17:41] dcaunt commented on #57
Thanks for the suggestion, using an enum for models is _roughly_ what I was working with when I opened the issue actually, and it seems that you're right about the casting. I need to clean it up a bit but I'm going to push a modified Example that you can look at, and perhaps it would be worth making a PR for this repo.

[2016-07-20 17:56] jessesquires commented on #57
@dcaunt - cool!

For a PR, `develop` is Swift 2.2, then there's a `swift2.3` and `swift3.0` branch

[2016-07-27 00:25] #57 closed, assigned to nobody

[2016-07-28 05:43] jessesquires opened #59 "Merge new demo project update into Swift3.0 branch"
Already merged `develop` --> `swift2.3`

Need to merge `swift2.3` --> `swift3.0` and migrate

[2016-07-29 01:49] jessesquires commented on #59
done in #60

[2016-07-29 01:49] #59 closed, assigned to nobody

[2016-08-09 14:07] dcaunt opened #61 "Build with Carthage fails"
## New issue checklist

- [x] I have read all of the [`README`](https://github.com/jessesquires/JSQDataSourcesKit/blob/develop/README.md) and [documentation](http://www.jessesquires.com/JSQDataSourcesKit/).
- [x] I have reviewed the [contributing guidelines](https://github.com/jessesquires/HowToContribute).
- [x] I have searched [existing issues](https://github.com/jessesquires/JSQDataSourcesKit/i

[2016-08-09 17:05] #61 closed, assigned to nobody

[2016-08-29 13:18] colinmorelli opened #63 "Enhancement: DataSourceProtocol for existing NSFetchedResultsController"
Previous user of 3.x here - I'm a huge fan of the improvements you've brought to 4. However, I'm facing an issue using the FetchedResultsController with an _existing_ FRC. My app uses CoreStore (great CoreData wrapper btw). However, it masks most of the details of NSManagedObjectContext, preferring you to work through the APIs it provides. As a result, there's really no way to create a FRC without

[2016-08-29 13:26] colinmorelli commented on #63
Correction to myself above: it doesn't quite preserve exact behavior since implementations will be dependent on that class subclassing NSFetchedResultsController...any other thoughts?

[2016-08-29 15:09] jessesquires commented on #63
Thanks @colinmorelli ! 😄

In Swift 2.3/3.0 the new SDK overlays add lightweight generics to `NSFetchedResultsController`.

In a previous beta (can't remember which), I tried using `NSFRC` directly but ran into issues because ObjC lightweight generics are so limited. I haven't tried this again with the most recent beta, but I doubt it is much different.

Does `CoreStore` provide any kind of "escape

[2016-08-29 15:21] colinmorelli commented on #63
@jessesquires - makes sense. Unfortunately, CoreStore doesn't provide direct access to the context (his goal is to try to safeguard the thread management strategies of `NSManagedObjectContext` and preventing direct access to the contexts admittedly does prevent a whole class of issues) - though I think with compelling enough reasons it _could_ be done.

However, I still feel that the requirement t

[2016-08-29 15:44] jessesquires commented on #63
I just tried this again. Attempting to make `NSFetchedResultsController` conform to `DataSourceProtocol` seg faults the compiler 😢

[2016-08-29 15:45] colinmorelli commented on #63
Well _that's_ not a good excuse. Breathing the wrong direction segfaults the swift compiler ;).

[2016-08-29 15:47] colinmorelli commented on #63
I don't think you necessarily need to make NSFetchedResultsController conform directly to the protocol though. Why not keep the existing FetchedResultsController class to implement the protocol which takes (and holds via strong ref) a FRC in its constructor. It can also set FRC.delegate = self, and expose its own delegate instance which the `delegateProvider.tableDelegate` can listen to.

Edit: th

[2016-09-08 17:10] jessesquires opened #64 "Build carthage on travis-ci"
Similar to `pod spec lint`, we should probably run `carthage build --no-skip-current` on travis-ci to make sure we're carthage-compatible.

[2016-09-09 02:41] jessesquires opened #65 "Simpler gh-pages"
https://github.com/blog/2228-simpler-github-pages-publishing

[2016-09-12 15:14] psartzetakis commented on #29
[code]

How can I pass a `DataSourceEditingProtocol` as an optional on the `DataSourceProvider.init` by avoiding adding a constrain on the class's signature? I am assuming the we will need the `Item`.

Thanks :)

[2016-09-12 16:02] jessesquires commented on #29
Thanks for the interest here @psartzetakis ! 😄

Haha. Welcome to Swift's type system. 😉 This is _exactly_ what I wanted to do for `SupplementaryFactory` so clients wouldn't have to provide it. Unfortunately, expressing these semantics is currently not possible.

---

I'm wondering, does `DataSourceEditingProtocol` even need `Item` ? If we pass an index path, clients could access the element from t

[2016-09-13 09:55] psartzetakis commented on #29
I see... It would be nice to have the `Item` but since it can't be `Optional` we can omit it. I believe the idea with passing just the `IndexPaths` sounds a bit more elegant to me...

[2016-09-13 11:21] dcaunt commented on #53
Are you aware of anything left to do for this? Shall I open a PR to merge it in?

[2016-09-13 15:11] jessesquires commented on #29
@psartzetakis 👍

Also, just FYI — we're going to be pushing releases for swift 2.3 and 3.0 very soon. branches will be changing a lot. you might want to wait to do any serious work here (or base it off of the swift3.0 branch)

[2016-09-13 15:18] psartzetakis commented on #29
@jessesquires I have already branched from swift 3.0 :)

[2016-09-13 16:01] jessesquires commented on #53
@dcaunt 👍 just got it up  #66

[2016-09-13 18:21] #53 closed, assigned to jessesquires

[2016-09-14 08:50] psartzetakis commented on #29
Hi @jessesquires , I have done some work related to the editing functionality. I would like to do some more for the other sections of that thread but because that will be my first pull request in an open source project I would prefer to submit it for review first. By doing that I can take any feedback and apply it to any of my future work :) . Since I have branched from `swift3.0` I cannot rebase

[2016-09-14 15:11] jessesquires commented on #29
@psartzetakis 🎉

Sounds awesome. 👍
1. Many, smaller PRs are always better than one giant one
2. Yeah -- submit to `swift3.0` for now and we'll figure it out.

[2016-09-17 09:45] #54 closed, assigned to jessesquires

[2016-09-17 21:43] #65 closed, assigned to jessesquires

[2016-09-23 11:14] arthurhammer opened #70 "FetchedResultsController/CollectionView did update hook?"
I'm looking for a hook for when the fetched results controller has updated data and/or the collection view did finish animating ([performing batch updates](https://github.com/jessesquires/JSQDataSourcesKit/blob/7b069c235a8015f470b71ab99c8ce703414f0206/Source/FetchedResultsDelegate.swift#L127)).

**Use case**: In the example project ([right around here](https://github.com/jessesquires/JSQDataSource

[2016-09-23 15:06] arthurhammer opened #71 "Cell factory dependency in FetchedResultsDelegateProvider?"
I'm currently looking at `FetchedResultsDelegateProvider` and wondering two things:
#### 1

Why is a cell factory needed for `FetchedResultsDelegateProvider`?

[It is used only to update a cell](https://github.com/jessesquires/JSQDataSourcesKit/blob/406cdfa9f460da861c191e751e605ab0978428bf/Source/FetchedResultsDelegate.swift#L143-L148). Can't [`reloadItems(at:)`](https://developer.apple.com/refere

[2016-09-24 15:10] jessesquires opened #72 "Use conditional protocol conformances when available (Swift 4.1?)"
https://github.com/apple/swift/blob/master/docs/GenericsManifesto.md#conditional-conformances-

When this is available in Swift, we can improve the `DataSourceProvider` interface (hopefully) by not requiring a `supplementaryFactory`.

Should also help with #28 and #29

[2016-09-25 17:13] jessesquires commented on #70
Thanks @arthurhammer ! 😄

I'm not sure I understand your use case. What do you need to animate?

[2016-09-25 17:20] jessesquires commented on #71
Thanks @arthurhammer ! 😄

Correct. `reloadItems(at:)` or `reloadSections(:)` is simply a "delete, then insert" under the hood, which can cause some inconsistency and animation issues. Also see [Apple's example](https://developer.apple.com/reference/coredata/nsfetchedresultscontrollerdelegate) for the FRC delegate boilerplate.

Yeah! 👍 That seems reasonable. Good idea 👌

[2016-11-14 16:52] jessesquires opened #73 "[Breaking] Update on naming"
I recently gave a talk about the ideas in this framework:
https://speakerdeck.com/jessesquires/pushing-the-limits-of-protocol-oriented-programming

The talk presented a much simplified version of everything. In writing the talk and trying to explain all of the different components, I realized we could improve naming:

- `ReuseableViewFactoryProtocol` --> `ReusableViewConfiguringProtocol`
- `ViewFa

[2016-11-14 17:14] dcaunt commented on #73
Love the slides, they're a really nice explanation of the current design!

Improving the names makes sense, although currently `ReuseableViewFactoryProtocol` is used for configuring both cells and supplementary views, so we should think about that name. Out of curiosity, what rule are you using to decide if the protocol name ends with `Protocol`? I couldn't find a good guideline for Swift 3 on whe

[2016-11-14 18:16] jessesquires commented on #73
Thanks @dcaunt ! 🙌

Sounds good. We can keep "View" instead of "Cell". Issue updated.

Swift 3 established this precedent, so I've just been following that. But I'm open to ideas.

[2016-11-14 21:06] dcaunt commented on #73
I'm just curious as the [API Design Guidelines](https://swift.org/documentation/api-design-guidelines/#strive-for-fluent-usage) cover nouns and capabilities but don't make an explicit statement about `...Protocol`, as far as I can see.

Looking at the [Swift std lib](https://developer.apple.com/reference/swift), it appears to be used where the Protocol name would conflict/be similar to a concrete

[2016-12-13 16:44] jessesquires commented on #29
Original issue updated.

[2016-12-13 17:00] jessesquires opened #78 "Add docs for TableEditingController"
Follow up from #67.

We need to add docs to the new `TableEditingController`.

https://github.com/jessesquires/JSQDataSourcesKit/blob/develop/Source/TableEditingController.swift

[2016-12-13 17:30] jessesquires commented on #78
cc @psartzetakis 😄

[2016-12-13 17:35] jessesquires opened #79 "Implement data source insert convenience methods"
In #67 we added some convenience methods to `DataSource` to remove items.

Let's add similar methods to insert.

https://github.com/jessesquires/JSQDataSourcesKit/blob/develop/Source/DataSource.swift#L166-L189

Tasks:

- Add 2 new methods, one with `(row, section)` and one with `IndexPath`
- Add docs
- Add unit tests

[2016-12-13 17:41] jessesquires opened #80 "Refine TableEditingController design"
We added [`TableEditingController`](https://github.com/jessesquires/JSQDataSourcesKit/blob/develop/Source/TableEditingController.swift) in #67.

#### There's one awkward thing about the design:

You have to capture the `dataSource` in the `commitEditing` closure, as [seen here](https://github.com/jessesquires/JSQDataSourcesKit/blob/develop/Example/Sources/TableViewController.swift#L61) in the exam

[2016-12-13 17:42] jessesquires commented on #80
@dcaunt @psartzetakis - thoughts here?

[2016-12-13 17:43] jessesquires commented on #79
cc @psartzetakis  😊

[2016-12-13 17:47] jessesquires opened #81 "DataSource test coverage"
Two more cases need testing:

- [x] `item(atRow row: Int, inSection section: Int) -> S.Item?` when section is invalid (verify return `nil`)
- [x] `remove(atRow row: Int, inSection section: Int) -> S.Item?` when (row, section) is invalid (verify return `nil`)

[2016-12-13 17:48] jessesquires opened #82 "Update changelog for TableEditingController (#67)"
Update changelog for TableEditingController (#67) for the 6.1.0 release

[2016-12-13 18:48] dcaunt commented on #80
I think it makes sense to pass something back in a closure when you have this kind of chicken and egg scenario.

[2016-12-14 09:03] psartzetakis commented on #80
I agree with you, it looks kind of weird now.. However I was thinking the following as well.
Since `removing/inserting` requires action with the `tableView` as well (`tableView.deleteRows`), do you think that it would be a good idea to handle that as well (even optionally...) 🤔

[2016-12-14 09:14] psartzetakis commented on #78
I will take care of it 😄

[2016-12-14 09:17] psartzetakis commented on #79
I will take care of it 😄

[2016-12-14 11:14] psartzetakis commented on #78
@jessesquires , apologies but I haven't done that before. Would you mind giving some pointers / tips ? Do I have just to add `comments` in the source file?

[2016-12-14 18:02] jessesquires commented on #78
Hey @psartzetakis - no problem! 😄

Yeah, that's all it is — just comments. Just follow the existing examples and feel free to comment here if you have any questions. (Or we can talk on the PR, too)

[2016-12-14 18:04] jessesquires commented on #79
@psartzetakis -- By the way, there's no pressure here! Don't feel like you have to do any of these new tasks if you don't want to. 😄

I just wanted to let you know about them. 😊

[2016-12-14 18:06] jessesquires commented on #80
Hm... not sure at the moment. For now, I would say let's not do that. Let's see how it feels without this first. 😃

[2016-12-15 10:17] psartzetakis commented on #79
Yeah sure, I am aware of that.  😊

[2016-12-19 14:59] psartzetakis commented on #79
Hi @jessesquires ,

I have a question here. Let's assume that we have 2 sections (`section-0`, `section-1`).
If the user wants to add an item in `section-2` which strategy do we follow?

1. We are not allow the creation of the new section so nothing happens? (kind of restrictive)
2. We create a new section if it doesn't exist. Which leads to the following question:

- if the users requests `sectio

[2016-12-19 17:02] jessesquires commented on #79
@psartzetakis

Let's mimic the `Array` APIs, you can't insert out-of-bounds. That will keep it simple for now. 👍

[2016-12-19 18:08] #78 closed, assigned to psartzetakis

[2016-12-22 04:16] #79 closed, assigned to psartzetakis

[2016-12-22 17:17] psartzetakis commented on #81
Hey @jessesquires , Do we need separate test for the `item(atRow row: Int, inSection section: Int) -> S.Item?`? The `remove(atRow row: Int, inSection section: Int) -> S.Item?`  calls `item(atRow row: Int, inSection section: Int) -> S.Item?` so I was thinking if I just test the `remove(atRow row: Int, inSection section: Int) -> S.Item?`(with invalid `section`/`row`) then the `item(atRow row: Int, i

[2016-12-22 17:22] jessesquires commented on #81
Yes, you're correct -- however, I do think there's value in having an explicit, *direct* test for `item(at...)` too.

[2016-12-22 17:23] jessesquires commented on #81
With an explicit test, if it ever fails, it is very clear what went wrong. With an indirect test, we'd have to figure out "is `remove(at..)` failing or something else?"

[2016-12-22 17:41] psartzetakis commented on #81
ok I see. I will update it. 👍🏻

[2016-12-23 00:21] #81 closed, assigned to psartzetakis

[2016-12-23 14:58] psartzetakis commented on #80
I had a quick play with the recommended solution 😀.
So I reached to the point where:
[code]
And I realised that the `dataSource` is a struct so we have value semantics. So eventually I will have a copy of the `dataSource` which is not what we want.. Do I miss something...?🤔
I can push my code in a PR if need be ..

[2016-12-23 15:27] jessesquires commented on #80
@psartzetakis ugh dammit. you're right. 😅

hm... let's think about this more 🤔

I *think* we can pass the `Provider`'s data source as `inout`

[2016-12-23 15:28] jessesquires commented on #80
Also, in this example, you *do not* want to create a local `var` -- that's also a problem. you want to mutate the `dataSource` param directly.

[2016-12-23 15:46] psartzetakis commented on #80
I am getting a compiler error since it is coming as `let` from the closure...

I already did that quickly but it didn't seem to work... 😅

I think we should elaborate it a bit more.. 😁

[2016-12-23 16:09] jessesquires commented on #80
Ha. Damn. Ok, I'll play around with this. 😄

[2017-01-03 03:07] jessesquires opened #88 "Update travis-ci [Xcode 8.2]"
https://blog.travis-ci.com/2016-12-13-xcode-82-ga-is-here

[2017-01-08 20:06] jessesquires opened #89 "[Docs] Add getting started guide"
- Already updated `build_docs.sh`

Need to:

- [ ] Extract "Getting Started" section from README
- [ ] Put this in `Guides/Getting Started.md`
- [ ] Re-gen docs via `build_docs.sh`

Example:

- https://github.com/jessesquires/PresenterKit
- https://github.com/jessesquires/PresenterKit/tree/develop/Guides
- http://www.jessesquires.com/PresenterKit/

[2017-01-31 08:03] dolfs opened #90 "Package is fixed dependent on libswiftCoreData.dylib"
When using this without using the CoreData related parts (which can still be quite useful), you get an error at runtime:
[code]

It should be possible without including this library to keep binary size optimized.

[2017-02-01 18:36] jessesquires commented on #90
Thanks @dolfs !

How are you installing the library? via CocoaPods, or... ?

[2017-02-03 23:28] dolfs commented on #90
Carthage.
The cause seems to be the inclusion of CoreData as a framework in the pod spec. I think it can be left out in the sense that if a user wants to use the FetchedResultsController aspect, they must already be using CoreData in their project, and thus the requirement to include that framework would be on their own project already.

[2017-02-07 05:48] izouxv opened #91 "if you try to use Data Drive Ui, the apis may be more easyer"
## New issue checklist

- [ ] I have read all of the [`README`](https://github.com/jessesquires/JSQDataSourcesKit/blob/develop/README.md) and [documentation](http://www.jessesquires.com/JSQDataSourcesKit/).
- [ ] I have reviewed the [contributing guidelines](https://github.com/jessesquires/HowToContribute).
- [ ] I have searched [existing issues](https://github.com/jessesquires/JSQDataSourcesKit/i

[2017-02-07 16:40] #91 closed, assigned to nobody

[2017-02-13 07:46] dolfs opened #93 "Hidden requirement to keep DataSourceProvider around"
When I wrote my own code using this package I did not put the DataSourceProvider in a member property in the TableViewController, but used a local "let" instead. Everything compiles but things go wrong in varying ways during execution.

The issue is that the DataSourceProvider gets deallocated while the tableView itself has a reference to the BridgedDataSource obtained via calling tableViewDataSou

[2017-02-13 18:42] jessesquires commented on #93
Thanks @dolfs ! 💯

Lots of great ideas here for improvements! We'll definitely see how we can improve this.

[2017-02-14 13:45] andreyz opened #95 "Segmentation fault: 11. While emitting SIL for 'tableCellFor'."
## New issue checklist
- [x] I have read all of the [`README`](https://github.com/jessesquires/JSQDataSourcesKit/blob/develop/README.md) and [documentation](http://www.jessesquires.com/JSQDataSourcesKit/).
- [x] I have reviewed the [contributing guidelines](https://github.com/jessesquires/HowToContribute).
- [x] I have searched [existing issues](https://github.com/jessesquires/JSQDataSourcesKit/is

[2017-02-15 00:18] jessesquires commented on #95
lol. thanks @andreyz !

We should open a bug report at https://bugs.swift.org

[2017-02-27 03:29] jessesquires commented on #95
Confirmed this is still happening with beta 3. Will open an SR issue and report back.

[2017-02-27 17:11] jessesquires commented on #95
SR issue opened: https://bugs.swift.org/browse/SR-4088

Follow there for updates.

[2017-03-09 05:51] jessesquires commented on #95
A fix has landed at `apple/swift`:

https://github.com/apple/swift/pull/7887

I'm assuming this will be included in the next beta release. Let's see.

[2017-03-29 04:28] jessesquires opened #96 "Generics improvements"
Might be relevant to this lib:

https://twitter.com/lorentey/status/846501171284115456

[2017-03-29 04:28] jessesquires commented on #95
Fixed in the final Xcode 8.3 release today.

[2017-05-22 14:37] roberthartshorn commented on #38
Hi @jessesquires I'm dealing with a very similar issue where headers aren't displaying via my CollectionViewLayout implementation when a section is empty.

Please excuse me for being dense, but what ended up being the solution for returning a model instance even when there is technically no item to display in the related section?

[2017-05-26 22:13] jessesquires commented on #38
Hey @roberthartshorn ! 😄

I *think* the section headers/footer should just display for empty sections. Are you on the latest release?

[2017-06-07 13:35] trsneed commented on #95
FYI, we are seeing this return in the Xcode 9 beta 1. Should I file another bug?

[2017-06-07 16:29] jessesquires commented on #95
thanks @trsneed ! please open a new issue, link to this one, add your new stack strace, etc. 😄

[2017-06-07 17:03] jessesquires commented on #95
Actually, @trsneed -- I take that back. It looks like this is the exact same problem.

[2017-06-07 17:03] jessesquires commented on #95
Re-opened the SR issue: https://bugs.swift.org/browse/SR-4088

[2017-06-07 22:30] trsneed commented on #95
Thank you so much! I thought it was the same ❤️

[2017-06-21 07:40] smokyfire commented on #95
Should be fixed now: https://github.com/apple/swift/pull/10440

[2017-06-22 18:30] jessesquires commented on #95
I'll see if this made it into beta 2 (released today). I'm assuming it probably wasn't. If not, the fix should definitely be in beta 3 in a couple of weeks.

[2017-06-22 21:02] bogren commented on #95
We tried it out today, looks like we have to wait for beta 3 👍

[2017-06-23 09:39] jessesquires commented on #95
thanks @bogren !

[2017-06-25 15:09] #70 closed, assigned to nobody

[2017-07-11 05:24] jessesquires commented on #95
This is now fixed in Xcode 9 beta 3!

Fix: https://github.com/apple/swift/pull/7887

And, it **will not** regress again in the future. This project has been added to the Swift source-compatibility suite: https://github.com/apple/swift-source-compat-suite/pull/54

[2017-07-11 05:24] #95 closed, assigned to nobody

[2017-07-31 00:49] jessesquires opened #99 "Add new Xcode9 file header comment plist"
https://oleb.net/blog/2017/07/xcode-9-text-macros/

[2017-08-01 12:59] dcaunt commented on #88
Superseded by #97

[2017-08-01 12:59] #88 closed, assigned to nobody

[2017-08-01 14:30] jessesquires commented on #88
👍 ha, oops

[2018-01-01 00:18] jessesquires commented on #80
closed by #100

[2018-01-01 00:18] #80 closed, assigned to jessesquires

[2018-01-01 00:29] #89 closed, assigned to jessesquires

[2018-01-01 00:42] #99 closed, assigned to nobody

[2018-01-01 01:17] #82 closed, assigned to nobody

[2018-01-01 01:24] jessesquires opened #102 "Update doc comments for new style"
Most of the header doc comments are the old style. Let's convert them all to Xcode's new style.

#### Example of old style:

https://github.com/jessesquires/JSQDataSourcesKit/blob/22d2119c3de3c0624eca3e890b0dfa8fdf6244c9/Source/DataSourceProvider.swift#L44-L57

#### Example of new style:

https://github.com/jessesquires/JSQDataSourcesKit/blob/14d4df0dceecf1150e7015f0630fee448de8a15e/Source/DataSou

[2018-01-01 02:38] #73 closed, assigned to jessesquires

[2018-01-01 20:51] #71 closed, assigned to nobody

[2018-01-01 21:04] jessesquires commented on #63
Just looked at this again.

Conclusion:

- Trying to make `NSFetchedResultsController` conform to `DataSourceProtocol` still results in the following error:
[code]
I doubt this will ever change.

- I think subclassing is the best solution here, not injecting your own `NSFetchedResultsController` and forwarding methods -- that's too much boilerplate and maintenance. They way this is written now, cl

[2018-01-01 21:04] #63 closed, assigned to nobody

[2018-01-01 21:05] jessesquires commented on #40
Still never able to repro this and we don't have further info to suggest that it's actually *caused by this library*.

Going to close for now.

[2018-01-01 21:05] #40 closed, assigned to jessesquires

[2018-01-01 21:06] jessesquires commented on #90
This shouldn't have any affect on Carthage. Carthage doesn't know or care about pod specs.

[2018-01-01 21:08] jessesquires commented on #90
My guess is that Carthage knows `import CoreData` exists for parts of this lib.

I don't think there's much we can do here -- a *very long term* goal would be to breakout the CoreData parts into a new library. 😞

going to close this for now.

[2018-01-01 21:08] #90 closed, assigned to nobody

[2018-01-01 21:11] jessesquires commented on #96
We're already doing this.

Looks like nothing actionable here until conditional conformances land. (Swift 4.1?)

Tracking at #72

[2018-01-01 21:11] #96 closed, assigned to jessesquires

[2018-01-01 21:24] jessesquires opened #103 "[Proposal] Remove `SectionInfoProtocol`"
These two protocols give us "flexibility" but do they really provide that much value? In practice, does anyone ever implement their own, or do they just use our concrete `DataSource` and `Section` types?

The main reasoning for these was not to impose using an `Item` array in sections and a `Section` array in `DataSource` -- that is, not impose the **collection type** on clients, so they could use

[2018-01-01 21:24] jessesquires commented on #103
cc @dcaunt and @psartzetakis -- would love your input / thoughts on this!

[2018-01-01 21:34] jessesquires commented on #103
Nice 😎

Got this working in a playground:

[code]

[2018-01-01 21:37] jessesquires commented on #103
Ah shit. This breaks with `FetchedResultsController`

EDIT: maybe 🤔

[2018-01-01 22:55] jessesquires commented on #103
Ok, this gets really ugly pretty quick trying to integrate with `DataSource` since collection `Indices` aren't constrained to be of type `Int` -- that makes things even more complicated than they are now.

We can revisit the generic collection ideas later, after conditional conformances are implemented. #72

However, it's still worth removing `SectionInfoProtocol` -- this really is superfluous. We

[2018-01-01 22:56] jessesquires commented on #72
Another idea: potentially express `Section` and `DataSource` in terms of generic collection types instead of explicit arrays. See discussion in #103

[2018-01-01 23:21] #103 closed, assigned to nobody

[2018-01-02 18:30] jessesquires opened #105 "Combine CellConfig and SupplementaryViewConfig? (improve API for tables and collections with titled sections)"
Related to #31 (in fact, these might actually be these same issue, but I want to elaborate more)

As previously discussed, the ideal situation would be making `SupplementaryConfig` optional -- but this isn't possible to express in Swift (for now?).

~~1. table views don't have supplementary views, so you have to pass the cell config twice, which is awkward~~
1. **EDIT:** TableViews **do** have sup

[2018-01-08 14:32] jessesquires opened #106 "Setup SwiftLint"

[2018-01-08 14:32] jessesquires opened #107 "Setup Danger"
Need to:

- update `.travis.yml`
- add `Dangerfile`
- add `Gemfile`

basic example:
https://github.com/SwiftWeekly/swiftweekly.github.io/commit/2e4da931cc074918c767e19320757d58be4a5018#diff-16417461de376720abfe05ef4cb7d73a

[2018-01-08 15:00] #106 closed, assigned to jessesquires

[2018-01-28 01:22] jessesquires opened #110 "Expand `CellParentViewProtocol` API for dequeuing and registering cells, implement auto-registration?"
A concept that evolved in ReactiveLists (and inspired by this) is auto-registering cells and registering/dequeuing through a totally unified interface.

- In addition to `CellType`, support `SupplementaryType` in `CellParentViewProtocol`

- Unify registration methods. See [CellContainerViewProtocol](https://github.com/plangrid/ReactiveLists/blob/master/Sources/CellContainerViewProtocol.swift)

- W

[2018-01-28 01:35] jessesquires commented on #105
More thoughts, inspired by [SupplementaryViewInfo](https://github.com/plangrid/ReactiveLists/blob/master/Sources/SupplementaryViewInfo.swift) from ReactiveLists.

We can unify table "supplementary views" with collections for `UITableViewHeaderFooterView`s which are equivalent to custom collection headers/footers.

The difference is that tables can also provide plain `String` titles and get default

[2018-01-28 01:37] jessesquires opened #111 "Implement auto-updating "reactive-like" API"
When you update the data source, it would be nice to auto-refresh the view.

- Initial implementation can just `reloadData` (and make this feature optional)
- Later, implement diffing (using IGListKit/Diffing)

[2018-03-18 23:25] #102 closed, assigned to nobody

[2018-07-09 00:21] jessesquires opened #113 "Exclusive Access to Memory exception in TableEditingController / commitEditing closure"
Per: https://github.com/jessesquires/JSQDataSourcesKit/pull/92#issuecomment-401512238

It appears that as of Swift 4, passing the `dataSource` as `inout` causing a simultaneous memory access crash when calling `tableView.deleteRows(at: [indexPath], with: .automatic)` from the Table `commitEditing` callback, even in the example app.

	let editingController: TableEditingController<DataSource<CellVie

[2018-09-30 23:27] u10int commented on #113
Any update on this issue? Looks like the build setting work-around is no longer working and resulting in crashes in-app. I just removed the inout flag on the DataSource parameter in DataSourceProvider and the accompanying CommitEditingConfig typealias which appears to be working without issues for the time being.

[2019-02-01 16:31] MaorS opened #115 "FetchedResultsDelegate is called from a background thread"
## General information

- Library version: 7
- OS version: 10.14.2
- Devices/Simulators: iPhone 6S Plus
- Reproducible in the demo project (Yes/**No**):
- Any related issues:

## What happened?

I'm using fetchedResultsController with private context because my project is using a-lot of media and display them as a gallery. ( when changing to main context the app freeze)

So i get warnings like " M

[2019-02-28 05:49] jessesquires opened #116 "Migrate to Swift 4.2, Xcode 10"

[2019-02-28 05:50] jessesquires opened #117 "Migrate to Swift 5"

[2019-02-28 05:58] jessesquires opened #118 "Update CocoaPods"
New swift versions:
http://blog.cocoapods.org/CocoaPods-1.7.0-beta/

Test specs?
http://blog.cocoapods.org/CocoaPods-1.3.0/

[2019-03-02 19:35] kevnm67 commented on #107
@jessesquires Do you want help setting up danger?

[2019-03-06 23:20] jessesquires commented on #116
forgot i already did this in #114

[2019-03-06 23:20] #116 closed, assigned to nobody

[2019-03-06 23:31] jessesquires commented on #115
Thanks @MaorS !

These delegate methods should be called on the main thread. Anything UI related in your app should be using a main thread ManagedObjectContext.

Can you explain more about the context in which you are using them and how they are getting called from a background thread? Can you provide the code snippets of the caller?

[2019-03-06 23:34] jessesquires commented on #107
@kevnm67 sure! that would be awesome.

i just updated the original issue description with what needs to happen.

i've already got a bot + token setup. once we have a PR, i can update travis-ci.

[2019-03-07 13:36] kevnm67 commented on #107
@jessesquires 👍

Two questions for you:

1. Could you add the token as a private environment variable on travisci.com as ```DANGER_GITHUB_API_TOKEN```
<img width="831" alt="image" src="https://user-images.githubusercontent.com/2734154/53960319-fb3e5280-40b3-11e9-8407-43ed6d0be3bb.png">

2. Any preference on danger ruby vs. swift?

[2019-03-08 02:34] jessesquires commented on #107
@kevnm67

1. done ✅
2. ruby -- looks like that's what you used in  #120 👍

[2019-03-08 03:17] jessesquires opened #122 "New danger rules to add"
After #107 is complete.

[code]

[2019-03-08 16:55] kevnm67 commented on #122
@jessesquires Do you want to include this in #120? I have these changes stashed ;)

[2019-03-08 17:50] jessesquires commented on #122
@kevnm67 sure! i'm ok with that

[2019-03-08 18:11] jessesquires commented on #122
@kevnm67 actually, let's wait and do this in a follow-up PR after we merge. See my comments on #120

[2019-03-09 02:08] jessesquires commented on #107
closed by #120

[2019-03-09 02:08] #107 closed, assigned to jessesquires

[2019-03-09 19:09] #122 closed, assigned to nobody

[2019-03-20 20:56] #64 closed, assigned to nobody

[2019-09-05 01:48] jbuckner commented on #38
Sorry for asking in such an old thread, but I'm curious how you are able to get an empty section? I'm working on a project right now where I always want at least 1 section to show even if there are no results from the FRC. My understanding is that the fetched results will only return a section if there are items in it. Is it possible to always display at least 1 section even if there are 0 results

[2019-09-05 03:18] jbuckner commented on #38
Of course after pulling my hair out for far too long, I figured out a solution after posting that. I basically wrapped my FRC in a proxy object that adds 1 to the number of sections and offsets all of the indexPath sections. I also had to do the same in the CollectionView delegate so it always used sectionIndex + 1

[2019-09-23 22:42] #115 closed, assigned to nobody

[2019-09-23 23:03] jessesquires commented on #72
Not completely sure what I was thinking here initially, but pretty sure this isn't possible -- at least not give the current architecture and generics requirements.

[2019-09-23 23:03] #72 closed, assigned to nobody

[2019-09-24 23:27] #117 closed, assigned to nobody

[2019-09-24 23:27] #118 closed, assigned to nobody

[2019-09-25 01:11] kevnm67 commented on #118
@jessesquires Are you familiar with [dependabot](https://github.com/marketplace/dependabot-preview)? Github recently acquired them and it's now free.  Worth checking out.

[2019-09-25 19:16] jessesquires commented on #118
ah yes -- but that's only for automated security fixes, right? (which i have turned on)

[2019-09-25 19:17] jessesquires commented on #118
that is, the integration with GH currently.

or is there a setting to always update dependencies to the latest version?

[2019-09-25 22:56] kevnm67 commented on #118
@jessesquires The bot creates individual PR's for outdated dependencies.  It's not limited to security fixes.

Here's an [example](https://github.com/kevnm67/danger-pivotal_tracker/pull/12).

[2019-09-26 19:57] jessesquires commented on #118
oh, that's awesome.

how do you enable this?

[2019-09-26 20:05] jessesquires commented on #118
oh nevermind. found it.

[2019-09-26 20:05] kevnm67 commented on #118
@jessesquires I was about to respond 🤣

[2019-09-30 01:38] jessesquires commented on #113
Well...

Much to my disappointment, I'm not sure how we can fix this. Seems we've "designed ourselves into a corner."

Notes on my attempt to fix:

In `DataSourceProvider.swift`:

[code]

This fixes the memory exclusivity error. (good)

However, it results in a table view inconsistency exception (bad). Not surprising. The copy leaves the data source in an inconsistent state.

[code]

[2020-04-15 00:38] jessesquires commented on #113
This library is now deprecated.

See announcement:
https://www.jessesquires.com/blog/2020/04/14/deprecating-jsqdatasourceskit/

[2020-04-15 00:38] #113 closed, assigned to jessesquires

[2020-04-15 00:38] jessesquires commented on #111
This library is now deprecated.

See announcement:
https://www.jessesquires.com/blog/2020/04/14/deprecating-jsqdatasourceskit/

[2020-04-15 00:38] #111 closed, assigned to nobody

[2020-04-15 00:38] jessesquires commented on #105
This library is now deprecated.

See announcement:
https://www.jessesquires.com/blog/2020/04/14/deprecating-jsqdatasourceskit/

[2020-04-15 00:38] #105 closed, assigned to jessesquires

[2020-04-15 00:38] jessesquires commented on #93
This library is now deprecated.

See announcement:
https://www.jessesquires.com/blog/2020/04/14/deprecating-jsqdatasourceskit/

[2020-04-15 00:38] #93 closed, assigned to nobody

[2020-04-15 00:39] jessesquires commented on #31
This library is now deprecated.

See announcement:
https://www.jessesquires.com/blog/2020/04/14/deprecating-jsqdatasourceskit/

[2020-04-15 00:39] #31 closed, assigned to jessesquires

[2020-04-15 00:39] jessesquires commented on #29
This library is now deprecated.

See announcement:
https://www.jessesquires.com/blog/2020/04/14/deprecating-jsqdatasourceskit/

[2020-04-15 00:39] #29 closed, assigned to jessesquires

[2020-04-15 00:39] jessesquires commented on #28
This library is now deprecated.

See announcement:
https://www.jessesquires.com/blog/2020/04/14/deprecating-jsqdatasourceskit/

[2020-04-15 00:39] #28 closed, assigned to jessesquires

[2020-04-15 00:39] jessesquires commented on #110
This library is now deprecated.

See announcement:
https://www.jessesquires.com/blog/2020/04/14/deprecating-jsqdatasourceskit/

[2020-04-15 00:39] #110 closed, assigned to jessesquires